.beneficiaries-container {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.add_beneficiary {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--alice-blue);
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid tomato;
  border-radius: 4px;
  color: var(--main-blue);
  font-weight: 500;
  cursor: pointer;
}

.beneficiaries-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.list_heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.beneficiaries-list :is(.list-item) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1.2em;
}


.list-item > div > p {
  color: var(--main-gray);
  font-size: 0.9rem;
}

.list-item > div  > b {
  font-size: 1.2rem;
}

.hr-line {
  margin-block-start: 1em;
  border: 0.3px solid whitesmoke;
}

.down-arrow {
  filter: invert(82%) sepia(2%) 
  saturate(16%) hue-rotate(0deg) 
  brightness(101%) contrast(103%);
}