.beneficiaries-container {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.add_beneficiary {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--alice-blue);
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid tomato;
  border-radius: 4px;
  color: var(--main-blue);
  font-weight: 500;
  cursor: pointer;
}

.beneficiaries-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.list_heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.beneficiaries-list :is(.list-item) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1.2em;
}

.beneficiaries-list > li {
  transition: 1s all ease-in-out;
}


.list-item > div > p {
  color: var(--main-gray);
  font-size: 0.9rem;
}

.list-item > div  > b {
  font-size: 1.2rem;
}

.hr-line {
  margin-block-start: 1em;
  border: 0.3px solid whitesmoke;
}

.trash {
  cursor: pointer;
}

.trash:hover {
  filter: brightness(0) saturate(100%) invert(63%) sepia(80%) 
  saturate(4198%) hue-rotate(332deg) brightness(101%) contrast(100%);
}

.delete__modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.308);
  height: 100%;
  width: 100%;
  inset: 0;
  display: grid;
  place-items: center;
}

.delete__modal > div {
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  height: 100px;
  width: 200px;
  padding: 1em;
  border-radius: 3px;
}

.container__modal__buttons {
  display: flex;
  gap: 0.6em;
}

.container__modal__buttons > button {
  padding: 0.6em 1em;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 0.3em;
}

.container__modal__buttons > button:nth-child(1) {
  background-color: #112344;
}

.container__modal__buttons > button:nth-child(2) {
  background-color: #ff234f;
}