/* styles for transaction tracker */

.transaction_container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1em;
}

.heading_container {
  display: flex;
  justify-content: space-between;
}

.heading_container > img {
  align-self: flex-end;
}

.transaction_heading {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-block-start: 2em;
}

.transaction_heading > small {
  color: var(--main-gray);
}

.transaction_heading > strong {
  font-size: 2em;
}

.transaction_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.transaction_list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr_line {
  border: 1px solid whitesmoke;
}

.share_receipt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--alice-blue);
  border-radius: 200px;
  padding: 15px 24px;
  font-size: 1rem;
  color: var(--main-blue);
  width: fit-content;
  margin: 0 auto;
  margin-block-start: 2em;
}

.share_receipt > img {
  width: 22px;
  margin-block-end: 2px;
}