.avatar {
  width: 45px;
}

.profile_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  padding: 2em 1.2em;
  padding-top: 3em;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user, .check_rates {
  display: flex;
  align-items: center;
  gap: 4px;
}

.user > h2 {
  font-weight: 400;
  color: #202020;
  font-size: 1.5rem;
}

.check_rates {
  background-color: var(--alice-blue);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  color: var(--main-blue);
  font-size: 0.9rem;
}

/* h3 {
  margin-block-start: 1em;
} */

.more-action {
  margin-block-start: 0.3em;
}

.actions {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding-block-start: 0.4em;
}

.actions > div, .actions :is(a) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}

.actions :is(div > p, a > span) {
  font-weight: bold;
}

.recent-transactions {
  margin-block-start: 2em;
  list-style: none;
}

.recent-transactions-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.see-all {
  display: flex;
  align-items: center;
}

.see-all > span {
  color: var(--main-blue);
}

.recent-transactions-heading > h2 {
  font-size: 1.2em;
}