/* form {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  gap: 1em;
} */

.container {
  padding: 0.7em;
}

.stepView {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-block-start: 1em;
}

.steps {
  transition: all 1s ease;
}

.custom_select {
  position: relative;
}

.custom_select > select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  outline: none;
  border-radius: 0.25rem;
  color: gray;
  cursor: pointer;
}

.custom_select::before {
  content: url("./arrow-down.svg");
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom_select::before {
  top: 30%;
}

.password_field {
  position: relative;
}

.visibility {
  position: absolute;
  right: 4%;
  top: 54%;
  width: 15px;
  cursor: pointer;
  z-index: 1;
}

.visibility:nth-child(2) {
  right: 4%;
  top: 7.8em;
}

.submitBtn {
  margin: 0 auto;
}