.container {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  margin-block-start: 1em;
  padding: 1em;
}

.balance {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.flag {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 3.5px;
  border: 1px solid var(--main-gray);
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 0.9rem;
}

.flag > span {
  font-size: initial;
  width: 1.2em;
  border-radius: 2em;
}

.balance > small {
  color: var(--main-gray);
}

.show-hide-btn {
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--dull-gray);
  border-radius: 1em;
  padding: 0.6em 0.8em;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: var(--alice-blue);
}

.show-hide-btn > img {
  width: 18px;
}

.pending_balance {
  color: var(--dull-gray);
  font-size: 0.8rem;
}

.icons {
  display: flex;
  gap: 24px;
}

.icons p {
  font-size: 1rem;
}

.transfer-link > img {
  width: 45px;
  height: 45px;
}