.container__form__transfer {
  padding: 1.5em 0.5em;
}

.form__transfer {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-block-start: 1em;
}

.form__transfer > button[type='submit'] {
  margin: 0 auto;
}

.form__transfer label {
  color: var(--main-blue);
}

.custom_select {
  position: relative;
}

.custom_select > select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  outline: none;
  border-radius: 0.25rem;
  color: gray;
  cursor: pointer;
}

.custom_select::before {
  content: url("./arrow-down.svg");
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom_select::before {
  top: 50%;
}

.amount__transfer {
  position: relative; 
}

.amount__transfer input[name="amount"] {
  padding-inline-start: 2em;
}

.amount__transfer__symbol {
  position: absolute;
  top: 1.45em;
  left: 0;
  color: var(--main-blue);
  background-color: var(--light-gray);
  text-align: center;
  padding-block-start: 0.5em;
  height: 2.25em;
  width: 1.5em;
  border-radius: 0.09em;
}