.container {
  background-color: white;
  z-index: 2;
}

.register {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* height: 100dvh; */
}

.image {
  width: 100%;
  height: 200px;
  animation: changeImg 9s infinite linear;
  border-radius: 5px;
}

@keyframes changeImg {
  0%, 20% {
    background: url(../../../public/backgrounds/bg-1.svg) center/contain no-repeat;
  }
  25%, 55% {
    background: url(../../../public/backgrounds/bg-2.svg) center/contain no-repeat;
  }
  60%, 88% {
    background: url(../../../public/backgrounds/bg-3.svg) center/contain no-repeat;
  }
  89%, 100% {
    background: url(../../../public/backgrounds/bg-1.svg) center/contain no-repeat;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.started {
  padding: 0.7em 5em;
  text-align: center;
  text-decoration: none;
  background-color: var(--main-blue);
  color: white;
  font-size: 1rem;
  border-radius: 200px;
  cursor: pointer;
  /* margin: 0 auto; */
}

.fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-left: 2em;
  }

  100% {
    opacity: 1;
  }
}

/* text and line animation for onboarding screen */

.box {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0.6em;
  position: relative;
}

.line_container {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.lines {
  border: 2px solid #E1E1E1;
  display: inline-block;
  border-radius: 5px;
  width: 3px;
  transition: width 1s ease-in-out;
  animation: growLine 9s infinite;
}

.text {
  width: 370px;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 1s ease-in;
  animation: fadeInOut 9s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes growLine {
  0%, 20% {
    width: 30px;
    border-color: var(--main-blue);
  }
  25%, 50% {
    width: 3px;
  }
  55%, 80% {
    width: 3px;
  }
  85%, 95% {
    width: 3px;
  }
  100% {
    width: 30px;
    border-color: var(--main-blue);
  }
}

@keyframes fadeInOut {
  0%, 20% {
    opacity: 1;
  }
  25%, 45% {
    opacity: 0;
  }
  50%, 70% {
    opacity: 0;
  }
  75%, 95% {
    opacity: 0;
  }
  96%, 100% {
    opacity: 1;
  }
}

.lines:nth-child(2) {
  animation-delay: 3s;
}

.lines:nth-child(3) {
  animation-delay: 6s;
}

.text:nth-child(2) {
  animation-delay: 3s;
}

.text:nth-child(3) {
  animation-delay: 6s;
}